* {
    margin: 0;
    padding: 0;
}

.main-container {
    height: auto;
}

.container-header{
    background-color: #1F2937;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content-hero p,
.link {
    font-size: 18px;
    color:#E5E7EB;
}

.link{
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.container-random-information {
    display:flex;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container-quote{
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.container-sign-up,
button
{
    background-color: #3882F6;
    color: #F9FAF8;
}

h3{
    color: #F9FAF8;
}

footer{
    background-color: #1F2937;
    color: #E5E7EB;
}